{% extends "layout.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
      <div class="col-5"></div>
      <div class="col-3">
      <br><br>
      <form class="from-horizontal" action="/resultado" method="POST">
        <div class="input-group">
          <div class="input-group-text" id="estiloInputText">Cantidad de Entradas:</div>
          <input  class="form-control"  type="text" name="txtNum" placeholder="Numero" value=""/>
      </div>
      <div class="my-3 text-center">
        <button type="submit" class="btn btn-outline-primary" ><i class="fa fa-save mx-1"></i>Generar</button>
     </div>
      </form>
    </div>
    </div>
  </div>
{% endblock %}